body {
  background-image: url("bg.gif");
}

a {
  color: #000080;
}

a:visited {
  color: #000080;
}

nav {
  background-color: #aeb1b0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul > li {
  background-color: #D0D0D0;
  float: left;
  border-style: ridge;
  border-color: transparent;
}

nav > ul > li.nav-home {
  background-color: #91D0A2;
}

nav > ul > li:hover {
  border-color: inherit;
}

nav > ul > li > a {
  color: inherit;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav > ul > li > a:visited {
  color: inherit;
}

nav > ul > li > a:hover {
}

h1 {
  text-align: center;
}

.container-centered {
  text-align: center;
}

table > caption {
  font-weight: bold;
}

footer {
  background-color: #aeb1b0;
  text-align: center;
  padding: 14px 16px;
}

footer > table {
  margin-left: auto;
  margin-right: auto;
}

footer * {
  padding: 0px 0px;
}

.copyright-statement {
  font-weight: bold;
}
